---
import Layout from "../layouts/Layout.astro";
import { ogImage } from "astro-og-images";
import simpleText from "../ogImageTemplates/simpleText";

const ogImageA = ogImage(
  simpleText("Hello World!", "Lorem ipsum dolor sit amet"),
  Astro.site
);
---

<Layout ogImage={ogImageA}>
  <div class="container">
    <h1>Astro Open Graph Images</h1>
    <section>
      <img />
    </section>
  </div>
</Layout>
