---
import { parse } from "path";
import Layout from "../layouts/Layout.astro";
import { capitalCase } from "change-case";
const templates = Object.keys(import.meta.glob("./templates/*.astro"));
---

<Layout>
  <div class="container">
    <h1>Astro Open Graph Images</h1>
    <ul>
      {
        templates.map((name) => {
          const p = parse(name);
          return (
            <li>
              <a href={`${p.dir}/${p.name}`}>{capitalCase(p.name)}</a>
            </li>
          );
        })
      }
    </ul>
    <a href="/og-preview">HTML Preview Example</a>
  </div>
</Layout>
