---
import { html } from "htm/preact";
import { render } from "preact-render-to-string";
import { OgTemplatePreview } from "@reunmedia/astro-og-images/components";
import minimal from "../ogImageTemplates/minimal";

const a = minimal("Hello!", html);
const templateHtml = render(a);
const b = minimal("Hello!");
---

<body style={{ margin: 0 }}>
  <OgTemplatePreview templateHtml={templateHtml} />
</body>
