---
interface Props {
  width: number;
  height: number;
  templateHtml: string;
}

const { width, height, templateHtml } = Astro.props;
---

<div class="container">
  <div style={{ width: `${width}px`, height: `${height}px` }}>
    <Fragment set:html={templateHtml} />
  </div>
</div>

<style>
  .container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: #0e0e0e;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
  }
</style>
