---
import globalStore from "../globalStore.ts";

interface Props {
  templateHtml: string;
  width?: number;
  height?: number;
}

const {
  templateHtml,
  width = globalStore.integrationOptions.defaultWidth,
  height = globalStore.integrationOptions.defaultHeight,
} = Astro.props;

// Get default font family to match Satori behaviour
const fontFamily = globalStore.integrationOptions.fonts[0]?.name;
---

<div
  class="ogTemplateWrapper"
  style={{ fontFamily, width: `${width}px`, height: `${height}px` }}
>
  <Fragment set:html={templateHtml} />
</div>

<style>
  .ogTemplateWrapper :global(*),
  .ogTemplateWrapper :global(*):before,
  .ogTemplateWrapper :global(*):after {
    box-sizing: border-box;
    /* Reset all font weights to normal to (hopefully) match Satori defaults. */
    font-weight: normal;
  }
</style>
